header {
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  height: 109px;
  background-size: contain;
}

header img {
  height: 50px;
}

h1 {
  font-size: 3.5em;
}

.first-section p {
  color: #afafaf;
}

.first-section div {
  font-size: 50% 50%;
}

.central-section {
  font-size: 1.5em;
}

.span-main {
  background-color: yellow;
}