* {
  margin: 0;
}

main,
footer {
  padding: 20px;
}

header {
  padding-top: 40px;
  padding-left: 20px;
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

header .intestazione {
  width: 250px;
}

h1 {
  font-size: 3.5em;
}

.first-section p {
  color: #afafaf;
  font-size: 1.2em;
  padding-bottom: 20px;
}

.central-section {
  font-size: 1.5em;
  padding-top: 20px;
}

.span-main {
  background-color: yellow;
}

ul {
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}

.cinquanta {
  width: 50%;
}

thead {
  color: #d3fbfe;
  background-color: #1faae4;
  padding-top: 20px;
  text-align: left;
}

.tr-main {
  background-color: #b1e6f2;
}

.tr-central {
  background-color: #ffffff;
}

.end-section {
  font-size: 1.5em;
  padding-top: 20px;
}

.span-end {
  background-color: yellow;
}

h3 {
  font-size: 2.5em;
  color: #858585;
}

.span-monitor {
  background-image: url(../img/monitor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  font-size: 2em;
  color: #fffcff;
}

.span-graph {
  background-image: url(../img/graph.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  font-size: 2em;
  color: #fffcff;
}