header {
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  height: 109px;
  background-size: contain;
}

header img {
  height: 50px;
}

h1 {
  font-size: 3.5em;
}

.first-section p {
  color: #afafaf;
}

.first-section div {
  font-size: 50% 50%;
}

.central-section {
  font-size: 1.5em;
}

.span-main {
  background-color: yellow;
}

thead {
  color: #d3fbfe;
  background-color: #1faae4;
}

.tr-main {
  background-color: #b1e6f2;
}

.tr-central {
  background-color: #ffffff;
}

.end-section {
  font-size: 1.5em;
}

.span-end {
  background-color: yellow;
}

h3 {
  font-size: 2.5em;
  color: #858585;
}

.span-monitor {
  background-image: url(../img/monitor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  font-size: 2em;
  color: #fffcff;
}

.span-graph {
  background-image: url(../img/graph.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  font-size: 2em;
  color: #fffcff;
}